<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846005062974-f51jh05gi4bn98b619rlnbvk9d3nddpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846005062974-f51jh05gi4bn98b619rlnbvk9d3nddpa</string>
	<key>API_KEY</key>
	<string>AIzaSyCG0vLs64YXiPn6R1abevuB83BQyZGHhbE</string>
	<key>GCM_SENDER_ID</key>
	<string>846005062974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-ui-codelab-8af55</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-ui-codelab-8af55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846005062974:ios:70a06f61c3bfefa5c0706f</string>
</dict>
</plist>